# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
backend/.env

# Build
frontend/build/
backend/uploads/

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# IDE files
.vscode/
.idea/

# Other
.env
